DATABASE_URL="postgresql://postgres:postgres@localhost:5432/codinger?schema=public"
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
HACK_CLUB_AI_API_KEY=
SMTP_HOST=mail.example.com
SMTP_PORT=587
SMTP_SECURE=true
SMTP_USER=your_smtp_username
SMTP_PASSWORD=your_smtp_password
SMTP_FROM_ADDRESS=your_email_address
SMTP_FROM_NAME=Your Name
